@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  
}

body{
  overflow-x: hidden;
  background: rgba(0,0,0,1);
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(26,34,45,1) 23%, rgba(26,34,45,1) 75%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(23%, rgba(26,34,45,1)), color-stop(75%, rgba(26,34,45,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(26,34,45,1) 23%, rgba(26,34,45,1) 75%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(26,34,45,1) 23%, rgba(26,34,45,1) 75%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(26,34,45,1) 23%, rgba(26,34,45,1) 75%, rgba(0,0,0,1) 100%);
background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(26,34,45,1) 23%, rgba(26,34,45,1) 75%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}